* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 32px;
}
:root {
    --back-btn: #3F8C5F;
    --next-Btn: #0A5BA8;
    --background: #f0f4fb;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--background);
}

.careerCont {
    display: flex;
    align-items: center;
    gap: 25px;
}

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #0A5BA8;
}

.nav-img {
    height: 6vh;
    margin-left: 1vh;
}
#main-nav {
    display: flex;
    align-items: center;
    width:  100%;
}
#main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main-header {
    .steps {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
        margin: auto;
        position: relative;
        margin-top: 1vh;
    }

    /* Line */
    .steps::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        background: #ddd;
        transform: translateY(-50%);
        z-index: 0;
    }

    .step {
        position: relative;
        z-index: 1;
    }

    /* Circles */
    .circle {
        width: 40px;
        height: 40px;
        background: white;
        border: 3px solid #ccc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #666;
    }

    /* Active Step */
    .step.active .circle {
        background: #1e73ff;
        border-color: #1e73ff;
        color: white;
    }
}

#main-header h1 {
    font-size: 30px;
    margin-top: 3vh;
}


.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
}

#annual {
    height: 5vh;
    width: 15vw;
    border-radius: 20px;
    font-size: 32px;
}

#nextBtn {
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background-color: var(--next-Btn);
    color:#ffffff;
}

.titles {
   width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#housing {
    height: 50vh
}

form {
    display: grid;
    align-content: center;
    grid-template-columns: max-content 1fr max-content 1fr;
    row-gap: 2rem;
    
}

input {
    border-radius: 20px;
    height: 5vh;
    width: 13vw;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#housing-h2 {
padding-bottom: 2rem;
}

#backBtn {
    height: 6vh;
    width: 8vw;
    border-radius: 20px;
    border-style: var(--next-Btn);
    color:#ffffff;
    background-color: var(--back-btn);
    color: white;
}

#tax {
    height: 50px;
    width: 50px;
}

h2 {
   font-size: 40px;
}
.annualSalary{
    padding-bottom: 5px;  /*apply this code to the headers of each box for Salary and other cost boxes*/

}


#monthlyIncome {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#taxes {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-start;
    background-color:  #0A5BA8;
    height: max-content;
}
#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}